[submodule "kamodo"]
	path = kamodo
	url = https://github.com/asherp/kamodo
[submodule "pysatKamodo"]
	path = pysatKamodo
	url = https://github.com/pysat/pysatKamodo
[submodule "Aurorasaurus"]
	path = Aurorasaurus
	url = https://github.com/aurorasaurus/Aurorasaurus-Dev.git
[submodule "AurorasaurusApp"]
	path = AurorasaurusApp
	url = https://github.com/aurorasaurus/Aurorasaurus.git
[submodule "Shoppar"]
	path = Shoppar
	url = https://github.com/PeterShoppar/AsherDash.git
[submodule "mms"]
	path = mms
	url = https://github.com/asherp/mms_reconstruction.git
[submodule "pysat"]
	path = pysat
	url = https://github.com/asherp/pysatWork
[submodule "NASA_ccmc"]
	path = NASA_ccmc
	url = https://github.com/asherp/ccmc.git
