asn1crypto==0.24.0
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
conda==4.4.10
cryptography==2.1.4
enum34==1.1.6
futures==3.2.0
gitdb2==2.0.5
GitPython==2.1.11
hourly==0.0.1.dev0
idna==2.6
ipaddress==1.0.19
menuinst==1.4.11
numpy==1.15.2
pandas==0.23.4
pycosat==0.6.3
pycparser==2.18
pyOpenSSL==17.5.0
PySocks==1.6.7
python-dateutil==2.7.3
pytz==2018.5
pywin32==222
requests==2.18.4
ruamel-yaml==0.15.35
six==1.11.0
smmap2==2.0.5
urllib3==1.22
win-inet-pton==1.0.1
wincertstore==0.2
