aioredis==1.3.0
alabaster==0.7.12
argh==0.26.2
asgiref==3.2.2
asn1crypto==1.0.1
astroid==2.3.1
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.1.0
autobahn==19.10.1
Automat==0.7.0
Babel==2.7.0
backcall==0.1.0
beautifulsoup4==4.6.0
bleach==3.1.0
btcpay-python==1.2.0
certifi==2019.6.16
cffi==1.12.3
channels==2.3.0
channels-redis==2.4.0
chardet==3.0.4
click==7.0
colorama==0.4.1
constantly==15.1.0
coverage==4.5.4
coveralls==1.8.2
cryptography==2.7
daphne==2.3.0
dash==1.1.1
dash-bootstrap-components==0.7.1
dash-core-components==1.1.1
dash-html-components==1.0.0
dash-renderer==1.0.0
dash-table==4.1.0
decorator==4.4.0
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.6
django-bootstrap4==1.0.1
django-classy-tags==0.9.0
django-cms==3.7.0
django-filer==1.5.0
django-formtools==2.1
django-js-asset==1.2.2
django-menus==1.1.2
django-modelcluster==4.4
django-mptt==0.10.0
django-plotly-dash==1.0.1
django-polymorphic==2.0.3
django-redis==4.10.0
django-sekizai==1.0.0
django-taggit==0.24.0
django-treebeard==4.3
djangocms-admin-style==1.4.0
djangocms-attributes-field==1.1.0
djangocms-column==1.9.0
djangocms-file==2.3.0
djangocms-googlemap==1.3.0
djangocms-installer==1.1.1
djangocms-link==2.5.0
djangocms-picture==2.1.3
djangocms-snippet==2.1.0
djangocms-style==2.2.0
djangocms-text-ckeditor==3.7.0
djangocms-video==2.1.1
djangorestframework==3.10.3
docopt==0.6.2
docutils==0.15.2
dpd-components==0.1.0
dpd-static-support==0.0.4
draftjs-exporter==2.1.7
easy-thumbnails==2.6
ecdsa==0.15
entrypoints==0.3
filelock==3.0.12
flask==1.1.1
flask-compress==1.4.0
gitdb2==2.0.5
gitpython==2.1.13
grip==4.5.2
hiredis==1.0.0
html5lib==1.0.1
htmlmin==0.1.12
hourly
hydra-core==0.11.3
hyperlink==19.0.0
idna==2.8
imagesize==1.1.0
importlib-metadata==0.23
incremental==17.5.0
ipykernel==5.1.1
ipython==7.7.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10.1
jsmin==2.2.2
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
lazy-object-proxy==1.4.2
livereload==2.6.1
Markdown==3.1.1
markdown-include==0.5.1
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mkdocs==1.0.4
mkdocs-material==4.6.0
mkdocs-minify-plugin==0.2.1
mknotebooks==0.1.7
more-itertools==7.2.0
msgpack==0.6.2
nbconvert==5.5.0
nbconvert-utils==0.6
nbformat==4.4.0
notebook==6.0.0
numpy==1.17.0
omegaconf==1.4.1
packaging==19.2
pandas==0.25.0
pandocfilters==1.4.2
parso==0.5.0
path-and-address==2.0.1
pathtools==0.1.2
pep562==1.0
pep8==1.7.1
pickleshare==0.7.5
Pillow==6.2.0
pkginfo==1.5.0.1
plotly==4.1.0
pluggy==0.13.0
port-for==0.3.1
prometheus-client==0.7.1
prompt-toolkit==2.0.9
py==1.8.0
pycparser==2.19
Pygments==2.4.2
PyHamcrest==1.9.0
pylint==2.4.2
pymdown-extensions==6.2.1
pyparsing==2.4.2
pyrsistent==0.14.11
pytest==5.2.1
pytest-cov==2.8.1
pytest-django==3.5.1
python-coveralls==2.9.3
python-dateutil==2.8.0
pytz==2019.2
pywinpty==0.5.5
pyyaml==5.1.2
pyzmq==18.0.0
qtconsole==4.5.2
readme-renderer==24.0
redis==3.3.8
requests==2.22.0
requests-toolbelt==0.9.1
retrying==1.3.3
Send2Trash==1.5.0
six==1.12.0
smmap2==2.0.5
snowballstemmer==2.0.0
Sphinx==2.2.0
sphinx-autobuild==0.7.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sqlparse==0.3.0
stripe==2.41.1
terminado==0.8.2
testpath==0.4.2
toml==0.10.0
tornado==6.0.3
tox==3.14.0
tqdm==4.36.1
traitlets==4.3.2
twine==2.0.0
Twisted==19.7.0
txaio==18.8.1
typed-ast==1.4.0
tzlocal==2.0.0
Unidecode==1.0.23
urllib3==1.25.6
virtualenv==16.7.5
wagtail==2.6.2
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
werkzeug==0.15.5
whitenoise==4.1.4
widgetsnbextension==3.5.0
Willow==1.1
wincertstore==0.2
wrapt==1.11.2
zipp==0.6.0
zope.interface==4.6.0
